---
layout: archive
title: "Miscellaneous"
permalink: /misc/
author_profile: true
---

{% include base_path %}

<!-- Add three dummy bullet points -->
<ul>
    <li><a href="https://en.wikipedia.org/wiki/Hairy_ball_theorem" target="_blank" rel="noopener noreferrer">Dummy point 1: Placeholder for future content</a></li>
    <li>
      <a href="/files/paper1.pdf" target="_blank" rel="noopener noreferrer">
        Dummy point 2: Another placeholder for additional content
      </a>
    </li>
  <li>Dummy point 3: Yet another placeholder for something interesting</li>
</ul>

{% for post in site.misc %}
  {% include archive-single.html %}
{% endfor %}